<app-modal [config]="config" (onModalConfirm)="onModalConfirm($event)" (onModalClose)="onModalClose($event)" #appModal>
    <div class="modal-content">
        <div class="form-box">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Tiny密匙</h2>
                    </div>
                </div>
                <div class="row" *ngFor="let v of tinyKeys; let $index = index">
                    <div class="col-sm-2">
                        <span class="name">key：</span>
                    </div>
                    <div class="col-sm-8">
                        <div class="value"><input (blur)="checkTinyKey($index, v.key)" [(ngModel)]="v.key" name="key" type="text"/></div>
                    </div>
                    <div class="col-sm-1">
                        <span class="count">{{v.compressionCount}}</span>
                    </div>
                    <div class="col-sm-1">
                        <i *ngIf="v.status === 1" class="ico fa fa-spinner fa-spin fa-3x fa-fw" title="密匙验证中..."></i>
                        <i *ngIf="v.status === 2" class="ico success fa fa-check" title="密匙可用"></i>
                        <i *ngIf="v.status === -1" class="ico error fa fa-times" title="密匙不可用"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-modal>
