:host {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
}

:host .sidebar {
    width: 220px;
    background-color: #F8F8F8;
    border-right: 1px solid #E0E0E0;
}

:host .sidebar h1 {
    width: 100%;
    height: 32px;
    line-height: 32px;
    float: left;
    padding: 0 5px 0 5px;
    font-size: 12px;
    font-weight: 600;
    color: #494949;
    box-sizing: border-box;
    border-bottom: 1px solid #E0E0E0;
}

:host .sidebar h1 i {
    width: 20px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    float: right;
    cursor: pointer;
    font-size: 16px;
    color: #CCC;
}

:host .sidebar h1 i:hover{
    color: #999;
}

:host .sidebar .action-group {
    width: 100%;
    float: left;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 10px 20px 10px;
    box-sizing: border-box;
}

:host .sidebar .action-group .drag-box {
    width: 200px;
    height: 150px;
    float: left;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px dashed #CCC;
    border-radius: 3px;
    background-color: #FEFEFE;
}

:host .sidebar .action-group .drag-box span {
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    float: left;
    color: #bbb;
    font-size: 14px;
}

:host .sidebar .action-group .drag-box i {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
    font-size: 100px;
    color: #EFEFEF;
}

:host .sidebar .action-group h2 {
    width: 100%;
    line-height: 45px;
    float: left;
    color: #999;
    font-size: 20px;
    font-weight: 200;
}

:host .sidebar .action-group .out-type {
    width: 100%;
    float: left;
}

:host .sidebar .action-group .out-type span {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 5px;
    color: #666;
    font-size: 14px;
}

:host .sidebar .action-group .out-type label {
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    float: left;
}

:host .sidebar .action-group .out-type em {
    font-size: 12px;
    font-style: normal;
    color: #333;
}

:host .sidebar .action-group .out-type input[type='text'],
:host .sidebar .action-group .out-type input[type='number'] {
    width: 60px;
    height: 22px;
    line-height: 22px;
    border: none;
    color: #333;
    float: left;
    background: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

:host .sidebar .action-group input[type='text']:focus,
:host .sidebar .action-group input[type='number']:focus {
    border-bottom: 1px solid #4E79A8;
}

:host .sidebar .action-group button {
    padding: 0 6px 0 6px;
    line-height: 25px;
    border: none;
    color: #FFF;
    font-size: 12px;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    margin: 15px 10px 15px 0;
    background-color: RGBA(78, 121, 168, .8);
}

:host input[disabled] {
    color: #CCC !important;
    border-bottom: 1px solid #ccc !important;
}

:host .sidebar .action-group button:hover {
    background-color: RGBA(78, 121, 168, 1);
}

:host button[disabled] {
    background-color: #ccc !important;
}

:host .sidebar .start {
    width: 50%;
    height: 30px;
    margin-left: 24.99%;
    line-height: 30px;
    margin-top: 20px;
    border: none;
    color: #fff;
    cursor: default;
    background-color: #ccc;
    border-radius: 3px;

}

:host .sidebar .start.ready {
    color: #FFF;
    cursor: pointer;
    background-color: RGBA(80, 161, 79, .8);
}

:host .sidebar .start.ready:hover {
    background-color: RGBA(80, 161, 79, 1);
}

:host .main {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

:host .main .table-hedader {
    width: 100%;
    height: 35px;
    line-height: 35px;
    float: left;
}

:host .main .table-header button {
    height: 28px;
    line-height: 28px;
    border: none;
    color: #FFF;
    float: left;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    background-color: RGBA(249, 155, 21, .8);
}

:host .main .table-header button:hover {
    background-color: RGBA(249, 155, 21, 1);
}

:host .main .table-header span {
    height: 28px;
    line-height: 28px;
    float: left;
    margin-left: 10px;
    font-size: 14px;
}

:host .main table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font: inherit;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

:host .main table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin: 0;
    padding: 0
}

:host .main table tr:nth-child(2n) {
    /*background-color: #fcfcfc*/
}

:host .main table tr th {
    color: #5C6B77;
    font-weight: 700;
    background-color: #F7F7F7;
}

:host .main table tr td,
:host .main table tr th {
    border: 1px solid #E9E9E9;
    text-align: left;
    margin: 0;
    font-size: 12px;
    padding: 6px 13px
}

:host .main table tr td {
    color: #AAA;
}

:host .main table tr td i {
    font-size: 14px;
}

:host .main table tr td.done {
    color: RGBA(80, 161, 79, .8);
}