:host .view-tabs {
    width: 100%;
    height: 25px;
    overflow: hidden;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    background-color: #FFF;
    position: absolute;
    top: 10px;
    left: 0;
}

:host .view-tabs .tab {
    max-width: 122px;
    overflow: hidden;
    text-overflow:ellipsis;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    padding: 0 35px 0 10px;
    background-color: #eee;
    /*border-radius: 13px;*/
    float: left;
    color: #666;
    cursor: pointer;
    position: relative;
    font-size: 12px;
}

:host .view-tabs .tab.lastOne {
    padding: 0 10px 0 10px;
}

:host .view-tabs .tab:hover {
    background-color: #e1e1e1;
}

:host .view-tabs .tab.active {
    background-color: #02A65A;
    color: #FFF;
    cursor: default;
}

:host .view-tabs .tab span {
    height: 25px;
    float: left;
}

:host .view-tabs .tab em {
    width: 15px;
    height: 15px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: #aaa;
    border-radius: 50%;
    font-size: 10px;
}

:host .view-tabs .tab.active em{
  color: #FFF;
}

:host .view-tabs .tab em:hover {
  color: #666;
  background-color: #CCC;
}

:host .view-tabs .tab.active em:hover {
    color: #FFF;
    background-color: #068548;
}
